body{
    margin:0;
    padding:0;
    height: 100%;
    width:100%;
    position:fixed;
    overflow:hidden;
    background: #fff;
    -webkit-app-region: drag;
    background: url('../Images/bgGray.jpg')repeat center center;
    background-size:cover;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/bgGray.jpg', sizingMethod='scale');
}
.main{
    position: relative;
    top: 10%;
    margin: 0 auto;
    padding: 0;
    display: block;
    width:900px;
    height: 582px;
    -webkit-app-region: drag;
    background-image: url('../Images/loginBG.png');
    background-position: -350px -67px;
}
.loginBox{
    position:absolute;
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow:3px 3px 8px #ccc;
    -webkit-app-region: no-drag;
    width:300px;
    height:300px;
    top: 25%;
    right:90px;
    background:#fff;
}
.loginBox ul{
    list-style:none;
    margin:0;
    padding: 20px 48px;
}
.loginBox ul li{margin:2px 0;padding:0;}
.loginBox ul li span{display:inline-block;width:200px;margin:2px 0;padding:0;}
.loginBox ul li input{margin:0;padding:0 2px;width:200px;height:28px;outline:none;border:1px solid #ccc;box-sizing: border-box;}
.loginBox ul li input:active{border:1px solid #52B2F3;}
.loginBox ul li input:focus{border:1px solid #52B2F3;}
.loginBox ul li input.btn{
    width:204px;
    height:35px;
    outline:none;
    cursor:pointer;
    background-color: #B3D2E4;
    border: none;
}
.loginBox ul li input.btn.canLogin{
    background-color: #1EA6F5;
    color: #fff;
}
.help-box p{
    margin:0;
    padding:0px 48px;
    height: 30px;
    line-height: 30px;
}
.help-line{
    cursor:pointer;
}
.help-line:hover span{
    border-bottom:1px solid #99cc33;
}
.help-line i{
    display: inline-block;
    margin:0 2px;
    padding:0;
    height:20px;
    width:20px;
    line-height:20px;
    vertical-align:middle;
    background:url('../Images/question.png') no-repeat scroll 0 0;
    background-size:20px;
}
.help-line span{
    display: inline-block;
    height:20px;
    line-height:20px;
    vertical-align:middle;
}
.sign-line{
    cursor:pointer;
}
.sign-line:hover span{
    border-bottom:1px solid #52B2F3;
}
.sign-line i{
    display: inline-block;
    margin:0 2px;
    padding:0;
    height:16px;
    width:16px;
    line-height:16px;
    vertical-align:middle;
    background:url('../Images/li.jpg') no-repeat scroll 0 0;
    background-size:16px;
}
.footer{
    position: fixed;
    bottom: 10px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}
.footer span{
    display:inline-block;
}