<template class="task-template">
    <div id="about-modal" class="about modal">
        <div class="about-wrapper">
            <header class="about-header">
                <img class="about-logo" src="./Images/aboutqr.png" alt="Electron API Demos">
            </header>
            <main class="about-sections">
                <section class="about-section play-along">
                    <h2>关于我们</h2>
                    <p>这是一个很好的东西。<a href="https://www.100mubiao.com">(100目标)</a></p>
                    <div class="copyright-box">
                        <p>
                            <span style="font-family:arial;">Copyright &copy</span><br/>
                            <span>2016 By <em class="ab-info">Joney.</em></span><br/>
                            <script>console.log(process.versions.node)</script><br/>
                            <script>console.log(process.versions.chrome)</script><br/>
                            <script>console.log(process.versions.electron)</script>.
                        </p>
                    </div>
                </section>

                <footer class="about-section footer">
                    <div class="rainbow-button-wrapper">
                        <button id="get-started" class="about-button modal-hide">开始使用</button>
                    </div>
                </footer>
            </main>
        </div>
    </div>
</template>
