<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>APP Login</title>
    <link rel="stylesheet" href="../CSS/login.css">
</head>
<body>
    <div class="main">
        <div class="loginBox">
            <ul>
                <li><span>LoginID:</span><input type="text" id="code" name="code" class="ms-input" maxlength="20" placeholder="Phone Number Or Email."/></li>
                <li><span>Password:</span><input type="password" id="pwd" name="pwd" class="ms-input" maxlength="8" placeholder="Login Password"/></li>
                <li><span></span><input type="button" class="btn" value="Login" disabled="true"/></li>
            </ul>
            <div class="help-box">
                <p class="sign-line"><i></i><span>Sign Up.</span></p>
                <p class="help-line"><i></i><span>You can get some help.</span></p>
            </div>
        </div>
    </div>
    <div class="footer"><span style="font-family:arial;">Copyright &copy</span><span>2016 By <em class="ab-info">Joney.</em></span></div>
<script>
    require('../Scripts/jquery-1.8.2');
    const path = require('path');
$(function(){
    $('.btn').on('click',function(){
        login();
    });
    $(".ms-input").keyup(function(){
        if($(this).val()!='' && $(this).parent().siblings().find('input.ms-input').val()!=''){
            $('.btn').addClass('canLogin');
            $('.btn').removeProp('disabled');
        }else{
            $('.btn').removeClass('canLogin');
            $('.btn').prop('disabled',true);
        }
    });

});
function login(){
    if($('.btn').prop('disabled')){return false;}
    var urls=path.join('file://', __dirname, '../index.html');
    window.location.href =urls;
    //this.props.history.pushState({passParam:true},urls);
}
    //键盘回车事件
    document.onkeyup = function (e) {
        var ev = e || window.event;
        var kc = ev.keyCode;
        switch (kc) {
            case 13:

                login();
                break;
            default:
                break;
        }
    };
</script>
</body>
</html>